<div class="links">
<h1>Related Projects</h1>

<!-- Mini-BDM-Pod -->
<div class="link">
<a class="active" href="//hotwolf.github.io/Mini-BDM-Pod">
<h1>Mini-BDM-Pod</h1>
A D-Bug12XZv6 compatible BDM Pod
</a>
</div><!--<div id="link">-->

<!-- S12G-Micro-EVB -->
<div class="link">
<a class="active" href="//hotwolf.github.io/S12G-Micro-EVB">
<h1>S12G-Micro-EVB</h1>
The brain of RevA and RevB
</a>
</div><!--<div id="link">-->

<!-- HSW12 -->
<div class="link">
<a class="active" href="//github.com/hotwolf/HSW12">
<h1>HSW12</h1>
Assembler and IDE
</a>
</div><!--<div id="link">-->

<!-- S12CBase -->
<div class="link">
<a class="active" href="//hotwolf.github.io/S12CBase">
<h1>S12CBase</h1>
Low level drivers
</a>
</div><!--<div id="link">-->

<!-- S12CForth -->
<div class="link">
<a class="active" href="//hotwolf.github.io/S12CForth">
<h1>S12CForth</h1>
ANS Forth implementation for S12 MCUs
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->

