body {
    /* Screen gradient light: #33a998 */
    /* Screen gradient dark:  #1b5246*/
    /* Screen no gradient:  #288475*/
	background: #288475;
	margin:  0;
	padding: 0;
	z-index: 0;
	overflow: auto;
	font-family: "Synchro LET", "OCR A Extended", "Agency FB", Consolas, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: run-in;
}

#background1 {
	/* Background gradient for Webkit browsers */
	background: -webkit-gradient(radial, 40% 30%, 0,
				                         40% 30%, 400,
				                         from(#33a998),
				                         to(#1b5246)) fixed 0 0;
	width: 100%;
	height: 100%;
	margin:  0;
	padding: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
}

#background2 {
	/* Background gradient for Gecko browsers */
	background: -moz-radial-gradient(40% 30%, circle cover, #33a998 0%, #1b5246 100%) fixed 0 0;
	width: 100%;
	height: 100%;
	margin:  0;
	padding: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
}

#background3 {
	/* Background grid */
	background: url(ScreenGrid.png) repeat fixed 0 0;
	width: 100%;
	height: 100%;
	margin:  0;
	padding: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	overflow: hidden;
}

#header {
	width: 100%;
	height: 80px;
	margin:  0;
	padding: 0;
	z-index: 3;
	top: 0;
	left: 0;
	text-align: center;
	color: #c1fff4;
	text-shadow: #fff 0 0 100px;
	overflow: hidden;
	font-weight: bold;
	position: relative;
}

#header h1 {
	font-size: 32px;
}

#index {
	width: 20%;
	margin:  0;
	padding: 0;
	z-index: 3;
	color: #c1fff4;
	text-shadow: #fff 0 0 100px;
	overflow: hidden;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	float: left;
	position: relative;
}

#index h1 {
	font-size: 22px;
}

#index h2 {
	font-size: 18px;
}

#index a {
	color: #c1fff4;
	font-size: 16px;
	text-decoration: none;
	list-style-type: none;
}

#main {
	margin:  0;
	padding: 20px;
	z-index: 3;
 	color: #c1fff4;
	text-shadow: #fff 0 0 100px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	float: right;
	position: relative;
	width: 75%;
}

#main h1 {
	font-size: 22px;
	text-align: center;
}

#video {
	width: 480px;
	position: static;
	right: 0;
	display: inline;
	bottom: 0;
	padding: 10px;
}


#news {
	width: 40%;
    height: 45%;
	margin:  0;
	padding: 10;
	display: block;
	position: fixed;
	z-index: 3;
	top: 50%;
	right: 0;
	color: #c1fff4;
	text-shadow: #fff 0 0 100px;
	overflow: hide;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
}

#news h1 {
	font-size: 22px;
}

#news h2 {
	font-size: 18px;
}


